*{
    margin: 0;
}
main{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.news{
    background:#b3f2f2;
    max-width: 800px;
    border-bottom: 2px solid black;
    font-family:Arial, Helvetica, sans-serif;
}
.news:hover{
    background: #ff5555;
}

h3{
    margin: 5px 15px 2px 15px;
    font-size: 18px;
}
.marg{
    margin: 15px;
    margin-top: 0px;
}
#btn1,#btn2,#btn3{
    width: fit-content;
    vertical-align: bottom;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    padding: auto 5px auto 5px;
    border: solid black 1px;
    padding: 5px;
    color: white;
    background: linear-gradient(lime 10%, green);
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    display: flex;
}
h2{
    margin: 10px 15px 20px 15px;
    text-align: center;
}
#background{
    background: white;
    position: absolute;
    top:0;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 70%;
}
#mess_news{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    margin: auto;
    display: none;
    background: #e2f971;
    position: absolute;
    max-width: 400px;
    max-height: 250px;
    top:0;
}